table.center {
    margin-left:auto; 
    margin-right:auto;
    
  }
  
  
  
  th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #666;
  color: #FFF;
  padding: 2px 6px;
  border-collapse: separate;
  
  }
  
  td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  
  }
  .button {
    background-color: rgb(3, 51, 82);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
  body
  {
    margin: 0;
    position: absolute;
    top: 100px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  input[type=textarea] {
    
    padding: 10px;
   
    border: none;
  
  }